include *.cfg
include *.py
include *.rst
include *.txt
include *.yml
include .dockerignore
include .editorconfig
include LICENSE
include babel.ini
include invenio_base/static/img/test
include invenio_base/static/img/testgif
include pytest.ini
include tox.ini
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include invenio_base *.css
recursive-include invenio_base *.foo
recursive-include invenio_base *.gif
recursive-include invenio_base *.html
recursive-include invenio_base *.ico
recursive-include invenio_base *.js
recursive-include invenio_base *.less
recursive-include invenio_base *.mo
recursive-include invenio_base *.png
recursive-include invenio_base *.po
recursive-include invenio_base *.pot
recursive-include invenio_base *.py
recursive-include invenio_base *.svg
recursive-include invenio_base *.tpl
recursive-include tests *.html
recursive-include tests *.js
recursive-include tests *.py
